<div class="item-container">
  <div class="pull-left image-container">
    <img src="<%= apartment.image_src %>" class="img-polaroid image" />
  </div>
  <div class="item-body pull-left">
    <h3><%= apartment.title %></h3>
    <div class="item-data">
       <div class="pull-left">
         <strong>Rent: </strong>
         <span><%= apartment.rent %></span>
         <span>NOK</span>
       </div>
       <div class="pull-left">
         <strong>Size: </strong>
         <span><%= apartment.size %></span>
       </div>
       <% if apartment.floor != 0 %>
         <div class="pull-left">
           <strong>Floor: </strong>
           <span><%= apartment.floor %></span>
         </div>
       <% end %>
       <div style="clear:both;"></div>
    </div>
    <div class="item-data">
      <% if apartment.start_date %>
        <div class="pull-left">
          <strong>Start date: </strong>
          <span><%= apartment.start_date.strftime("%d %b %Y") %>
        </div>
      <% end %>
      <% if apartment.end_date %>
        <div class="pull-left">
          <strong>End date: </strong>
          <span><%= apartment.end_date.strftime("%d %b %Y") %>
        </div>
      <% end %>
      <div style="clear:both;"></div>
  </div>
  <div class="item-data">
  <a href="insertions/<%= insertion.id %>/promote">Consider this insertion</a>
  </div>
  <div class="item-data">
    <a href="<%= apartment.finn_link %>">See on Finn.no</a>
  </div>
</div>
    <div class="pull-right" style="margin-right:10px;margin-top:5px;">
      <a href="/insertions/<%= insertion.id %>/hide">Hide</a>
    </div>
  <div style="clear:both;"></div>
</div>
